body {
    background-image: url("wall.jpg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.borderer {
    border-style: solid;
    border-color: dimgray;
    border-bottom: none;
    border-top: none;
    border-right: none;
}
.table {
    margin-top: 20px;
}
* {
    margin-top: 0;
}
.box {
    height: 880px;
    width: 600px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}
.box1 {
    height: 810px;
    width: 450px;
    border-style: solid;
    border-color: dimgray;
    position: absolute;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 40px;
}
.box-title {
    width: 300px;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 25px;
}
.inside {
    margin: 15px;
}
.buttonLook {
    width: 200px;
}
.center {
    text-align: center;
}
